<% if @user.avatar.attached? %>
  <%= image_tag( @user.avatar.variant(resize_and_pad: [200, 200])) %>
<% end %>

<h1 class="md-4"><%= @user.email %><h1>

<% if user_signed_in? %>

  <%= render partial: 'reviews/form', locals: { reviewable: @user } %>

<% end %>

  <%= render partial: 'reviews/reviews', locals: { reviewable: @user } %>

<hr class="my-3">
  <div>
    <%= link_to t('global.button.back'), products_path, class: 'btn btn-primary' %>
  </div>
</hr>
