<p class="lead my-3">
  <% if @user.avatar.attached? %>
    <%= image_tag( @user.avatar.variant(resize_and_pad: [200, 200])) %>
  <% else %>
    <%= image_tag(current_user.avatar_url) %>
  <% end %>
</p>

<h1 class="md-4"><%= @user.email %></h1>
<h2 class="md-4">Total products: <%= @user.products.count %></h2>

  <p class="lead my-3">Reviews</p>

  <% if user_signed_in? && current_user != @user %>
    <p class="lead my-3">
      <%= render partial: 'reviews/form', locals: { reviewable: @user } %>
    </p>
  <% end %>

  <p class="lead my-3">
    <%= render partial: 'reviews/reviews', locals: { reviewable: @user } %>
  </p>

<hr class="my-3">
  <div>
    <%= link_to t('global.button.back'), products_path, class: 'btn btn-primary' %>
  </div>
</hr>
