<h1 class="md-4"><%= @user.email %><h1>

<% if current_user.avatar.attached? %>
  <%= image_tag(current_user.avatar.variant(resize_and_pad: [100, 100])) %>
<% end %>

<p class="lead my-3">Reviews</p>

<%= form_with(model: [@user, @review]) do |form| %>
  <% if @user.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
        <% @user.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="md-3 row">
    <div class="col-sm-2 col-form-label">
      <%= form.label :comment %>
    </div>

    <div class="col-sm-10">
      <%= form.text_area :comment, class: 'form-control' %>
    </div>
  </div>

  <div class="md-3 row">
    <div class="col-sm-2 col-form-label">
      <%= form.label :rating %>
    </div>

    <div class="col-sm-10">
      <%= form.text_field :rating, placeholder: 'Rating', class: 'form-control' %>
    </div>
  </div>

  <div>
    <%= form.submit t('global.button.submit'), class: 'btn btn-primary' %>
  </div>
<% end %>

<% @reviews.each do |review| %>
  <article class="card mt-3">
    <div class="card-body">
      <h4><%= review.rating %><h4>

        <p class="my-2">
          <%= review.comment %>
        </p>

    </div>
  </article>
<% end %>

<%= link_to t('global.button.back'), products_path %>