<h1 class="md-4"><%= @category.title %><h1>

<h2 class="mt-5">Products</h2>

<h4 class="mt-5"><%= link_to "New product", new_category_product_path(@category), class: 'btn btn-primary' %><h4>

<% @products.each do |product|%>
  <article class="mb-3" id="product-<%= product.id %>">
    <div class="card-body">
      <section class="card-text">
        <p>
          <%= product.name %>
        </p>

        <p>
          <% product.pictures.each do |picture| %>
            <%= link_to image_tag(picture.variant(resize_to_limit: [100, 100])), picture %>
          <% end %>
        </p>
      </section>

      <%= link_to 'Show', category_product_path(@category, product), class: 'btn btn-info btn-sm' %>
    </div>
  </article>
<% end %>

<h4 class="mt-5"><%= link_to "Back", categories_path, class: 'btn btn-primary' %><h4>
