<h1>search result: <%= @search_result.count %></h1>
      <div id="products">
        <% @search_result.each do |product| %>
          <article class="card mt-3">
            <div class="card-body">
              <h4><%= product.name %><h4>

              <section class="card-text">
                <p>
                  <% product.pictures.each do |picture| %>
                    <%= link_to image_tag(picture.variant(resize_to_limit: [100, 100])), picture %>
                  <% end %>
                </p>

                <p class="my-2">Price:
                  <%= product.price %>
                </p>

                <p class="my-2">
                  <%= product.description %>
                </p>

                <time datetime="<%= product.formatted_updated_at %>">
                  <small><%= product.formatted_updated_at %></small>
                <time>
              </section>

              <%= link_to t('global.button.show'), product_path(product), class: 'btn btn-info btn-sm' %>
            </div>
          </article>
        <% end %>
      </div>


