<p style="color: green"><%= notice %></p>

<%= render @product %>

<h1 class="md-4"><%= @product.name %><h1>

  <p class="lead my-3">
    <% @product.pictures.each do |picture| %>
      <%= link_to image_tag(picture.variant(resize_to_limit: [300, 300])), picture %>
    <% end %>
  </p>

  <p class="lead my-3">
    Category: <%= @product.category.title %>
  </p>

  <p class="lead my-3">
    <%= @product.description %>
  </p>

  <p class="lead my-3">
    <h2>
      <%= t('.price') %>
      <%=  @product.price %>
     </h2>
  </p>

  <p class="lead my-3">
    <h2>
      <%= t('.seller') %>
      <%= link_to @product.user.email, user_path(@product.user_id)%>
     </h2>
  </p>

  <p class="lead my-3">
    <time datetime="<%= @product.formatted_updated_at %>">
      <%= @product.formatted_updated_at %>
    <time>
  </p>

  <% if user_signed_in? %>
    <%= form_with(url: cart_cart_items_path(current_cart.id)) do |f| %>
      <%= f.hidden_field :product_id, value: @product.id %>
      <%= f.hidden_field :cart_id, value: current_cart.id %>
      <%= f.number_field :quantity, value: 0, min: 1 %>
      <%= f.submit "Add To Cart" %>
    <% end %>

    <% if @product.user_id == current_user.id %>
      <%= link_to t('global.button.edit'), edit_product_path(@product), class: 'btn btn-secondary'%> |
      <%= link_to t('global.button.delete'), change_status_product_path(@product), class: 'btn btn-danger',
        data: { turbo_method: :post, turbo_confirm: t('dialog.you_sure') } %>
    <% end %>

    <p class="lead my-3">Add reviews</p>

    <%= form_with(model: [@product, @review]) do |form| %>
      <% if @product.errors.any? %>
        <div style="color: red">
          <h2><%= pluralize(@product.errors.count, "error") %> prohibited this product from being saved:</h2>

          <ul>
            <% @product.errors.each do |error| %>
              <li><%= error.full_message %></li>
            <% end %>
          </ul>
        </div>
      <% end %>

      <div class="md-3 row">
        <div class="col-sm-2 col-form-label">
          <%= form.label :comment %>
        </div>

        <div class="col-sm-10">
          <%= form.text_area :comment, placeholder: 'Text', class: 'form-control' %>
        </div>
      </div>

      <div class="md-3 row">
        <div class="col-sm-2 col-form-label">
          <%= form.label :rating %>
        </div>

        <div class="col-sm-10">
          <%= form.text_field :rating, placeholder: 'Rating', class: 'form-control' %>
        </div>
      </div>

      <div>
        <%= form.submit t('global.button.submit'), class: 'btn btn-primary' %>
      </div>
    <% end %>
  <% end %>

  <% @reviews.each do |review| %>
    <article class="card mt-3">
      <div class="card-body">

        <p class="my-2">
          Rating: <%= review.rating %>
        </p>

        <p class="my-3">
          Text: <%= review.comment %>
        </p>

        <p class="lead my-3">
            <time datetime="<%= review.formatted_updated_at %>">
              <%= review.formatted_updated_at %>
            <time>
        </p>

        <p class="my-2">
          Author: <%= review.user.email %>
        </p>

      </div>
    </article>

    <% if review.user_id == current_user.id %>
      <%= link_to t('global.button.edit'), edit_product_review_path(@product, review), class: 'btn btn-secondary'%> |
      <%= link_to t('global.button.delete'), product_review_path(review.id), class: 'btn btn-danger',
        data: { turbo_method: :delete, turbo_confirm: t('dialog.you_sure') } %>
    <% end %>
  <% end %>

<hr class="my-3">

  <div>
    <%= link_to t('global.button.back'), :back, class: 'btn btn-primary' %>
  </div>

</hr>
