<!DOCTYPE html>
<html>
  <head>
    <title>Marketplace</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload", media: 'all' %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
  </head>

  <body>

  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

    <header class="p-3 bg-dark text-white">

      <nav class="navbar navbar-default">

        <div class="container">

          <div class="navbar-header">
            <%= link_to t('.home'), root_path, class: 'nav-link px-2 text-white' %>

            <ul class="nav col-12 col-lg-auto mb-2 mb-md-0">
              <li class="dropdown">
                <a class="nav-link px-2 dropdown-toggle text-white" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <%= t('.categories') %>
                </a>

                <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                  <% Category.all.each do |category| %>
                    <li>
                      <%= link_to category.title, products_path(category: category.title), class: 'dropdown-item text-black' %>
                    </li>
                  <% end %>
                </ul>
              </li>
            </ul>
          </div>

          <ul class="nav navbar-nav">
            <% if user_signed_in? %>
              <li><%= link_to 'Add product', new_product_path, class: 'btn btn-primary' %></li>
            <% end %>
          </ul>

          <ul class="nav navbar-nav navbar-right">

            <ul class="nav col-12 col-lg-auto mb-2 mb-md-0">
              <div class="dropdown">
                <a class="nav-link px-2 dropdown-toggle text-white" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  <%= tag.div '', class: "flag #{I18n.locale}-flag mt-1" %>
                  <%= t I18n.locale %>
                </a>

                <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                  <a class="dropdown-item" href="#">
                    <% I18n.available_locales.each do |locale| %>
                      <% if I18n.locale == locale %>
                        <%= tag.span t(locale), class: 'dropdown-item' %>
                      <% else %>
                        <%= link_to t(locale), url_for(locale: locale), class: 'dropdown-item' %>
                      <% end %>
                    <% end %>
                  </a>
                </ul>
              </div>
            </ul>

            <% if user_signed_in? %>
              <ul class="nav col-12 col-lg-auto mb-2 mb-md-0">
                <li class="dropdown">
                  <a class="nav-link px-2 dropdown-toggle text-white" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <%= current_user.email %>
                  </a>

                  <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                    <li>
                      <a class="dropdown-item" href="#">
                        <%= link_to t('global.button.edit_user'), edit_user_registration_path, class: 'dropdown-item text-black' %>
                        <%= link_to t('global.button.show'), user_path(current_user), data: { 'turbo-method': :delete }, class: 'dropdown-item text-black' %>
                      </a>
                    </li>
                  </ul>

                </li>
              </ul>

              <% if cart_total.positive? %>
                <%= link_to "Cart (#{cart_total})", cart_path(current_cart), class: 'btn btn-info' %>
              <% else %>
                <%= link_to 'Empty Cart', cart_path(current_cart), class: 'btn btn-info' %>
              <% end %>

              <%= link_to t('global.button.log_out'), destroy_user_session_path, data: { 'turbo-method': :delete }, class: 'btn btn-danger' %>
            <% else %>
              <%= link_to t('global.button.log_in'), new_user_session_path, class: 'btn btn-secondary' %>
              <%= link_to t('.registration'), new_user_registration_path, class: 'btn btn-secondary' %>
            <% end %>

          </ul>

        </div>

      </nav>

    </header>

    <% if notice.present? %>
      <p class="notice"><%= notice %></p>
    <% end %>
    <% if alert.present? %>
      <p class="alert"><%= alert %></p>
    <% end %>

    <div class="container">
      <%= yield %>
    </div>

  </body>
</html>
